.browser {
}

.browser-header {
    -fx-padding: 10;
    -fx-background-color: #666666;
}

.browser-title {
    -fx-font: bold 24px "Verdana";
    -fx-text-fill: white;
}

.browser .navigation-toolbar .button {
    -fx-padding: 10;
    -fx-content-display: graphic-only;
}

.navigation-toolbar .home {
    -fx-graphic: url("../images/nav-home.png");
}

.navigation-toolbar .refresh {
    -fx-graphic: url("../images/nav-refresh.png");
}

.navigation-toolbar .back {
    -fx-graphic: url("../images/nav-back.png");
}

.navigation-toolbar .forward {
    -fx-graphic: url("../images/nav-forward.png");
}

.glass-pane {
    -fx-cursor: wait;
}

.home {
}

.login {
}

.login .messageLabel {
    -fx-background-color: #ffffdd;
    -fx-background-radius: 6;
    -fx-padding: 10 40 10 40;
    -fx-border-color: #aaa;
    -fx-border-radius: 10;
}
