.navigation-toolbar {
    -fx-skin: "com.zenjava.jfxflow.navigation.NavigationToolbarSkin"
}

.navigation-toolbar .button {
    -fx-content-display: graphic-only;
    -fx-border-width: 1;
    -fx-border-insets: 0;
    -fx-background-color: transparent;
    -fx-cursor: hand;
    -fx-padding: 4;
}

.navigation-toolbar .button:hover {
    -fx-border-width: 1;
    -fx-border-radius: 4;
    -fx-border-color: #b6b6b6;
}

.navigation-toolbar .button:armed {
    -fx-border-width: 1;
    -fx-border-radius: 4;
    -fx-border-color: #b6b6b6;
    -fx-background-color: linear-gradient(from 0% 0% to 0% 100%, #c6c6c6 0%, #d6d6d6 100%);
}

.navigation-toolbar .home {
    -fx-graphic: url("../images/nav-home.png");
}

.navigation-toolbar .refresh {
    -fx-graphic: url("../images/nav-refresh.png");
}

.navigation-toolbar .back {
    -fx-graphic: url("../images/nav-back.png");
}

.navigation-toolbar .forward {
    -fx-graphic: url("../images/nav-forward.png");
}

